{% load static %}
<link rel="icon" type="image/png" sizes="196x196" href="{% static 'img/favicon/favicon-196.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicon/favicon-192.png' %}">
<link rel="icon" type="image/png" sizes="128x128" href="{% static 'img/favicon/favicon-128.png' %}">
<link rel="icon" type="image/vnd.microsoft.icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{% static 'img/favicon/favicon.ico' %}">

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/favicon-180.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicon/favicon-152.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicon/favicon-144.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/favicon-120.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicon/favicon-114.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/favicon-76.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicon/favicon-72.png' %}">
<link rel="apple-touch-icon" href="{% static 'img/favicon/favicon-57.png' %}">
